<article class="post">
  <a href="/post/{{id}}">

    <div class="title">{{title}}</div>
    <p>{{blog_content}}</p>
    <p>created by: {{user.username}}</p>
    <p>data created: {{created_at}}</p>
  </a>
</article>